<h1>Gestão dos setores e atividades</h1>

<nav>
    <a href="/cadastrar_setor">Cadastrar Setor</a><br>
    <a href="listar_setor">Listar Setor</a><br>
    <a href="atualizar_setor">Atualizar Setor</a><br>
    <a href="apagar_setor">Apagar Setor</a><br>
</nav>